<form name="form" novalidate ng-submit="save()">
  <div class="modal-header">
    <h3>Add Class Assignment</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 form-group">
        <label class="control-label">Assignment</label>
        <input type="text" class="form-control" ng-model="newAssignment.description" name="description" required />
        <span class="text-danger" ng-show="form.description.$error.required && form.$submitted">Required</span>
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label">Open Date</label>
        <input type="text" class="form-control" ng-model="newAssignment.openDate" name="openDate" required />
        <span class="text-danger" ng-show="form.openDate.$error.required && form.$submitted">Required</span>
      </div>
      <div class="col-md-12 form-group">
        <label class="control-label">Due Date</label>
        <input type="text" class="form-control" ng-model="newAssignment.dueDate" name="dueDate" required />
        <span class="text-danger" ng-show="form.dueDate.$error.required && form.$submitted">Required</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-6 text-left">
        <a ng-click="cancel()" class="btn btn-default">Close</a>
      </div>
      <div class="col-xs-6 text-right">
        <input type="submit" class="btn btn-primary" value="Add Assignment"/>
      </div>
    </div>
  </div>
</form>
