<h1 class="text-center">Class Roster List Page</h1>
<hr/>

<div class="row">
  <div class="col-xs-6">
    <a class="btn btn-warning" href="#/gradebook"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
  </div>
  <div class="col-xs-6 text-right">
    <button class="btn btn-primary" ng-click="openAddClassRoster()">Add Roster</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Class Name</th>
          <th>Period</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="classRoster in classRosters">
          <td>{{ classRoster.className }}</td>
          <td>{{ classRoster.period }}</td>
          <td class="text-right"><a class="btn btn-default" href="#/gradebook/classRoster/{{ classRoster.id }}/students">Manage Students</a></td>
          <td class="text-right"><button class="btn btn-default">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
